@font-face {
    font-family: "Creepy";
    src: url("Chilling Nightime.ttf");
}
@font-face {
    font-family: "Ink";
    src: url("who asks satan.ttf");
}
@font-face {
    font-family: "Look";
    src: url("../Statics/Stranger back in the Night.ttf");
}
body{
    background-color: rgb(0, 0, 0, 0.784);
    background-image:url(../Statics/halloween_background_with_blood_splatters_and_drips_1409.jpg);
}
h1{
    color:black;
    display: flex;
    font-family: "Creepy", "Chilling Nightime.ttf";
    font-size: 100px;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.lista {
    background-color: burlywood;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-content: center;
    font-family: "Ink", "who asks satan.ttf";
    text-align: center;
}
.cuadroTarea{
    background-color: rgb(155, 39, 39);
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 50%;
    border-radius: 2%;
    border: 5px solid black;
    margin: 20px 1% 20px 1%;
}
.tar{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20%;
    background-color: rgb(150, 213, 150);
    border: 5px solid rgb(64, 87, 64);
    width: 100px;
    height: 100px;
    margin: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Look", "Stranger back in the Night.ttf";
    font-size: 30px;
}